.footer {
    background: url('../images/wave.svg') no-repeat;
    background-size: cover;
    color: white;
    font-size: $text-size;

    &-container {
        padding-top: 149px;
        padding-bottom: 145px;
        display: flex;
        justify-content: space-between;
    }

    &-social {
        p {
            margin-bottom: 34px;

        }

        &__icon {
            display: flex;
            gap: 0 65px;
        }
    }

    &-email {
        p {
            margin-bottom: 25px;
        }

        &__detail {
            display: flex;
            align-items: center;
            gap: 0 22px;

            span {
                color: #0ACBBF;
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .footer {
        font-size: 25px;
        &-container {
            padding: 47px 22px;
            flex-direction: column;
            padding-bottom: 20px;
        }
        &-social {
            p {
                margin-bottom: 12px;
            }
            &__icon {
                justify-content: space-between;
                gap: 0;
                img{
                    width: 30px;
                }
                margin-bottom: 33px;
            }
        }
        &-email {
            p {
                text-align: center;
                margin-bottom: 12px;
            }
    
            &__detail {
                justify-content: space-between;
                gap:0;
                img {
                    width: 30px;
                }
            }
        }
    }
}