.hero {
    margin-bottom: 259px;
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 118px;
    }

    &-detail {
        width: 630px;

        h1 {
            font-size: $name_size;
            color: $text-title-color;
            margin-bottom: 37px;
        }

        p {
            font-size: $text-size;
            color: $text-color;
            line-height: calc(55/35);
            font-weight: 400;
            margin-bottom: 37px;
        }

        button {
            padding: 10px 24px;
            background-color: $button-color;
            border: none;
            border-radius: 4px;
            color: white;
            font-size: $text-size;
            font-weight: 400;
        }
    }

}
@media screen and (max-width: 479px){
    .hero {
        margin-bottom: 100px;
        &-container {
            flex-direction: column-reverse;
        }
        &-detail {
            width: 100%;
            padding: 0 31px;
            text-align: center;
            h1{
                font-size: 32px;
                margin-bottom: 16px;
            }
            p{
                font-size: 18px;
            }
            button {
                font-size: 18px;
            }
        }
        &-image {
            width: 257px;
            height: 293px;
            margin: auto;
            margin-bottom: 47px;
        }
    }
}