.skills {
    margin-bottom: 69px;

    &-container {
        h3 {
            color: $title-color;
            font-size: $title-size;
            text-align: center;
            margin-bottom: 65px;
        }
    }

    &-detail {
        display: flex;
        justify-content: space-between;
        gap: 0 56px;
    }

    &-program {
        width: 688px;

        p {
            color: $text-color;
            font-size: $text-size;
            margin-bottom: 17px;
        }

        &__icon {
            margin-left: 56px;
            display: flex;
            flex-wrap: wrap;

            gap: 58px 67px;
        }
    }
}

@media screen and (max-width: 479px) {
    .skills {
        margin-bottom: 100px;
        h3 {
            font-size: 25px;
            margin-bottom: 18px;
        }

        &-detail {
            flex-direction: column-reverse;
        }

        &-program {
            width: 100%;
            padding: 0 34px;

            p {
                font-size: 18px;
            }

            &__icon {
                flex-direction: row-reverse;
                margin-left: 0;
                gap: 0;
                justify-content: space-between;
            }
        }

        &-image {
            width: 250px;
            height: 186px;
            margin: auto;
            margin-bottom: 43px;
        }
    }
}