$font: 'Be Vietnam Pro', sans-serif;
$button-color: #E84949;
$title-color: #F37A7A;
$text-title-color: #3A3A3A;
$text-color: #838383;
$name-color: #0ACBBF;
$menu-size: 28px;
$name-size: 50px;
$text-size: 35px;
$title-size: 40px;
$text-small-size:30px;